h2.panel-title {
  color: black;
  font-size: 25px;
}

#whitewell {
  background-color: white;
}

#wellcome {
  padding: 5px;
}

ul.wellinks {
  margin-top: 15px;
}

.welcometext {
  text-align: center;
  margin-bottom: 10px;
}

#loginarea {
  position: absolute;
  top: 0.33em;
  right: 0.75em;
  z-index: 100;
  font-size: 0.75em;
}
 #firstrow {
   margin-top: 50px;
 }

 #searchbar {
   text-align: left;
   left: 3em;
 }

 #navcolumn ul, #navcolumn ul li {
   list-style: none;
   text-align: left;
   margin: 0;
   margin-left: 5px;
   padding: 0;
 }

#navcolumn ul {
  margin-top: 8px;
}

.well {
  margin: 5px;
  padding: 10px;
}

#middlewell {
  margin-right: -20px;
  background-color: #cef2e0;
}

#bluewell {
  background-color: #cedff2;
}

#picturewell {
  background-color: #faf5ff;
}
