h2.panel-title {
  color: black;
  font-size: 25px;
}

#whitewell {
  background-color: white;
}

#wellcome {
  padding: 5px;
}

ul.wellinks {
  margin-top: 10px;
}

.welcometext {
  text-align: center;
  margin-bottom: 10px;
}

#loginarea {
  position: absolute;
  top: 0.33em;
  right: 0.75em;
  z-index: 100;
  font-size: 0.75em;
}
 #firstrow {
   margin-top: 50px;
 }

 #searchbar {
   text-align: left;
   left: 3em;
 }
